.about-me {
  padding: 5em 1em 2em 1em;

  font-family: "Inter", sans-serif;
}

.about-name,
.about-role {
  font-weight: 400;
  font-size: 36px;
  line-height: 92%;
  letter-spacing: -0.057em;
}

.about-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 5em 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 105%;
  letter-spacing: -0.03em;
}

.about-title {
  width: 20%;
  font-size: 12px;
  color: #a4a4a4;
}

.about-desc {
  width: 60%;
}

.about-resume {
  margin-top: 15em;
  font-weight: 300;
  font-size: 14px;
  color: #a4a4a4;
}

.a-img-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.about-image {
  width: 100%;
  height: 75vh;
  object-fit: cover;
  filter: blur(4px);
}

.grey {
  color: #a4a4a4;
}

@media screen and (min-width: 762px) and (max-width: 991.98px) {
  .about-name,
  .about-role {
    font-weight: 400;
    font-size: 48px;
    line-height: 92%;
    letter-spacing: -0.057em;
  }

  .about-image {
    height: 750px;
    filter: blur(12px);
  }
}

@media screen and (min-width: 992px) and (max-width: 1399.98px) {
  .about-me {
    padding: 2em;
  }

  .about-container {
    padding: 5em 0 1em 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .about-name,
  .about-role {
    font-weight: 400;
    font-size: 56px;
    line-height: 92%;
    letter-spacing: -0.057em;
  }

  .about-header {
    width: 50%;
  }

  .about-desktop {
    width: 40%;
  }

  .about-content {
    margin: 0;
  }

  .about-desc {
    width: 70%;
  }

  #introduction {
    width: 100%;
  }

  #contact {
    margin-top: 10em;
  }

  .about-image {
    margin: 8em 0 1em 0;
    filter: blur(16px);
  }
}

@media screen and (min-width: 1400px) {
  .about-me {
    padding: 2em;
  }

  .about-container {
    padding: 5em 0 1em 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .about-name,
  .about-role {
    font-weight: 400;
    font-size: 60px;
    line-height: 92%;
    letter-spacing: -0.057em;
  }

  .about-header {
    width: 50%;
  }

  .about-desktop {
    width: 40%;
  }

  .about-content {
    margin: 0;
  }

  .about-desc {
    width: 70%;
  }

  #introduction {
    width: 100%;
  }

  #contact {
    margin-top: 5em;
  }

  .about-image {
    margin: 8em 0 1em 0;
    filter: blur(16px);
  }
}
