.portfolio {
  padding: 1em;
  font-family: "Inter", sans-serif;
  position: relative;
}

@media screen and (min-width: 992px) {
  .portfolio {
    padding: 2em 2em;
    display: flex;
    justify-content: space-between;
    gap: 10em;
  }
}
