.intro {
  padding: 1em;
  height: 45vh;
  display: flex;
}

.intro-left {
  width: 50%;
  margin-top: 5em;
  font-family: "Inter", sans-serif;
}

.intro-right {
  width: 50%;
  margin-top: 5em;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 1em;
}

.intro-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.2px;
}

.intro-grey {
  color: #a4a4a4;
}

.intro-role {
  font-weight: 400;
  font-size: 14px;
  line-height: 105%;
  color: #222;
}

.intro-clients li,
.intro-services li {
  font-weight: 400;
  font-size: 9.5px;
  letter-spacing: -0.2px;
  line-height: 148%;
  text-decoration: none;
  list-style-type: none;
}

// Dots
.intro-code {
  display: inline-block;
}

.dot-container {
  display: inline-flex;
}

.blue-dot,
.yellow-dot,
.red-dot {
  height: 0.5em;
  width: 0.5em;
  margin: 0 0.1em;
  border-radius: 1em;
}

.blue-dot {
  background-color: #4d33ea;
}
.yellow-dot {
  background-color: #e88540;
}
.red-dot {
  background-color: #ea3e33;
}

.left-bracket {
  font-size: 14px;
  margin-right: 0.25em;
}
.right-bracket {
  font-size: 14px;
  margin-left: 0.25em;
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .intro-description {
    font-size: 16px;
    line-height: 110%;
  }

  .intro-role {
    font-size: 16px;
    line-height: 110%;
  }

  .left-bracket {
    font-size: 16px;
  }
  .right-bracket {
    font-size: 16px;
  }

  .intro-right {
    gap: 3em;
  }

  .intro-clients li,
  .intro-services li {
    font-size: 11px;
    line-height: 148%;
  }
}

@media (min-width: 992px) {
  .intro {
    padding: 1em 2em;
  }

  .intro-description {
    font-size: 20px;
    line-height: 105%;
  }

  .intro-role {
    font-size: 20px;
    line-height: 105%;
  }

  .left-bracket {
    font-size: 20px;
  }
  .right-bracket {
    font-size: 20px;
  }

  .blue-dot,
  .yellow-dot,
  .red-dot {
    height: 0.7em;
    width: 0.7em;
    margin: 0 0.15em;
  }

  .intro-right {
    gap: 5em;
  }

  .intro-clients li,
  .intro-services li {
    margin-right: 1em;
    font-size: 12px;
    line-height: 148%;
    letter-spacing: 0px;
  }
}
