// Content
.work-post {
  color: #222;
}

.work-post {
  width: 100%;
  padding: 0 0 0.5em 0;
  cursor: pointer;
}

.work-image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: transform 0.5s ease-in-out;
}

.work-image:hover {
  transform: scale(1.1);
}

.work-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  overflow: hidden;
  border-radius: 0.5em;
}

.work-title {
  position: absolute;
  color: #fff;
  padding: 1em;

  display: inline-flex;
  align-items: center;
  margin: 1em 0 0.25em 0;
  font-family: "Inter", sans-serif;

  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: -0.75px;
  z-index: 3;
}

.work-count {
  font-weight: 400;
  font-size: 10px;
  margin: 0 0 1em 0.5em;
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .work-post {
    width: 50%;
    padding: 0 0 0.75em 0;
  }

  .work-wrapper {
    width: calc(100% - 0.75em);
  }

  .work-title {
    padding: 0 1em;
    font-size: 1.1em;
  }
}

@media (min-width: 992px) {
  .work-post {
    width: 50%;
    padding: 0 0 0.75em 0;
  }

  .work-wrapper {
    width: calc(100% - 0.75em);
  }

  .work-title {
    padding: 1em 2em;
    font-size: 1.1em;
  }
}
